{% extends 'layouts/crud_basico.html.twig' %}
{% use 'elements/header.html.twig' %}
{% use 'elements/notification-bar.html.twig' %}
{% use 'elements/menu-lateral.html.twig' %}
{% use 'elements/navigation-bar.html.twig' %}
{% block title %}CRM PróCorpo{% endblock %}
{% block buttonnew %}<button class="btn btn-xs" id="buttonNew"><i class="icon-plus align-top btn-sm"></i>Novo Registro</button>{% endblock %}