<html>
<head>

</head>

	<link rel="stylesheet" href="/assets/css/jquery.gritter.css" />
	<link rel="stylesheet" href="/assets/css/jquery.gritter.css" />
	<link rel="stylesheet" href="/assets/css/ace.min.css" />
	
	<link rel="stylesheet" href="/assets/css/jquery-ui-1.10.3.full.min.css" />	
	<script src="/assets/js/jquery.gritter.min.js"></script>
	<script src="/assets/js/chosen.jquery.min.js"></script>

	<script src="/assets/js/bootbox.min.js"></script>
	<script src="/assets/js/chosen.jquery.min.js"></script>
	<script src="/assets/js/jquery.gritter.min.js"></script>

	<script src="/assets/js/jquery-ui-1.10.3.full.min.js"></script>
	<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>


<body>
	<form method="post" action="/crud/InsertBox" id="ajax_form" enctype="multipart/form-data">

		<input type="hidden" name="grupoID" value="51">

		<input type="text" name="titulo"> <br>

		<textarea name="descricao"></textarea> <br>

		Capa : <input type="file" name="file[]" multiple="multiple" /> 

		<label><input type="submit" name="enviar" value="Criar Grupo" /></label>
	</form>
</body>
</html>


