<form name="editarPerfil" action="/editar-profile/foto-perfil/" enctype="multipart/form-data" id="editarNome" method="POST" style="margin:15px;">

	<div class="form-group" style="float:left; width:100%;">
			    
			    <input type="file" name="file" style="float:left; margin-top:8px;">

			    <input type="submit" class="btn btn-success" value="Alterar Foto Perfil" style="float:right; margin-left:10px;">

  	</div>

</form>