<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

 <nav id="page_nav">
    <a href="/comentarios/16/2/"></a>
  </nav>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Título</h3>
</div>

<style>

.simple-modal{border:none; width: 644px  !important; height: auto; top:5px; top:5px !important;}

.content_comentarios{

  width: 653px;
  height: auto;
  float: left;
  margin-left: -5px;
  margin-top: 20px;
  border-top: 3px solid #e9eaed;
}

.comentario{

	width: 653px;
	height: auto;
	padding: 10px;
	color: #fff;
	border-bottom: 1px solid #EEE;
	float: left;
}

.foto_perfil_comentario {
	width:45px; 
	height:45px; 
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(http://link-to-your/image.jpg) no-repeat; 
    margin-left: -25px;
    border: 3px solid #e9eaed;
    float: left;
  }

.comentario_autor{

	width: 603px;
	height: auto;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}

.comentario_conteudo{

	width: 600px;
	height: auto;
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #535353;
	margin-top:5px;
	margin-left: 10px;
}

.comentario_data{

	width: 150px;
	height: auto;
	float: right;
	font-size: 12px;
	font-weight: normal;
}

</style>

   	<div class="content_comentarios">

		<!-- div que contem o comentário !-->

		{% for dadosComentario in arrayComentarios %}

			<div class="element comentario">

				  <img src="{{dadosComentario.foto_perfil|raw}}" class="foto_perfil_comentario" >  

				  <div class="comentario_autor">

				  	{{dadosComentario.nome|raw}}

				  </div>

				  <div class="comentario_conteudo">

				  	{{dadosComentario.conteudo|raw}}

				  </div>

			</div>

		{% endfor %}


	</div>
<!-- Elemente Comentários !-->